@model RIO.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="jumbotron">
    <div class="container">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
</div>

@*<section id="loginForm">*@

<!-- Example row of columns -->
<div class="row">
    <div class="col-md-6">
        <h2>Use a local account to log in.</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                <br />
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                <br />
                @Html.CheckBoxFor(m => m.RememberMe) 
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                <input type="submit" value="Log in" class="btn btn-large btn-success" />
            </fieldset>
            <p>
                <br />
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
    </div>
    <div class="col-md-6">

        @*<section class="social" id="socialLoginForm">*@
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        @*</section>*@
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
