@model RIO.Models.SearchViewModel

@{
    ViewBag.Title = "RIO - Search Item";
}

<h2>Search Item</h2>

<form method="get">
    @Html.DropDownList("category", new SelectList(Model.Categories, "CategoryId", "CategoryName"), "All Categories")
    <input type="text" name="itemName" />
    <input type="submit" value="Search" />
    @Html.ActionLink("Advanced Search", "Index")
</form>

@foreach (var item in Model.Items)
{
    <div>
        @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId });               
        @Html.DisplayFor(modelItem => item.Category.CategoryName)
        @Html.DisplayFor(modelItem => item.Brand.BrandName)
        @Html.DisplayFor(modelItem => item.Address.Country.CountryName)
        @Html.DisplayFor(modelItem => item.Address.State.StateName)
        @Html.DisplayFor(modelItem => item.Address.City.CityName)
        @Html.DisplayFor(modelItem => item.PostedDate)
    </div>
}
