@model RIO.Models.ViewModels.ItemCreateViewModel

<h2>Post Item</h2>

@using (Html.BeginForm("Create", "Item", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => Model.SelectedCategoryId, Model.Category)
            @Html.ValidationMessageFor(model => model.SelectedCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand, "Brand")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => Model.SelectedBrandId, Model.Brand)
            @Html.ValidationMessageFor(model => model.SelectedBrandId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address, "Address")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => Model.SelectedAddressId, Model.Address)
            @Html.ValidationMessageFor(model => model.SelectedAddressId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemName)
            @Html.ValidationMessageFor(model => model.ItemName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemDescription)
            @Html.ValidationMessageFor(model => model.ItemDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Image, new { type = "file" })
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Costing, "Costing")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => Model.SelectedCostingId, Model.Costing)
            @Html.ValidationMessageFor(model => model.SelectedCostingId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IdentityProof, "Identity Proof")
        </div>
        <div class="editor-field">
            @foreach (IdentityProof idProof in Model.IdentityProof)
            {               
                <input type="checkbox" name="SelectedIdentityProofId" value="@idProof.IdentityProofId" title="@idProof.Name" /> 
                @idProof.Name                         
            }
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
